.vs/*
Debug/*
machine_learning_framework.sdf
machine_learning_framework.sln
machine_learning_framework/Debug/*
*.vcxproj
*.vcxproj.filters
machine_learning_framework.vcxproj.filters
*.pdb
*.suo
*.exe
*.iobj
*.ipdb
*.log
*.obj
machine_learning_framework/build/*
machine_learning_framework/bin/*
